{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.4"}
        org.clojure/data.json {:mvn/version "2.5.2"}
        com.github.seancorfield/next.jdbc {:mvn/version "1.3.1093"}
        hikari-cp/hikari-cp {:mvn/version "4.0.0"}
        org.postgresql/postgresql {:mvn/version "42.7.10"}
        andersmurphy/sqlite4clj {:git/url "https://github.com/andersmurphy/sqlite4clj"
                                 :git/sha "abb1c31224f02b6b7025ce5f40157c41046db8b0"}
        amalloy/ring-gzip-middleware {:mvn/version "0.1.4"}
        ring/ring-core {:mvn/version "1.15.3"}
        http-kit/http-kit {:mvn/version "2.9.0-beta3"}}}
